<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pae.healz">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->


    <!--
    Declare this required feature if you want to make the app available to BLE-capable
    devices only.  If you want to make your app available to devices that don't support BLE,
    you should set to "false".  Instead, determine BLE capability by using
    PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE)
    -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Permisos per poder executar app a Android M -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Permisos per poder escriure a la memoria -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Perfil" />
        <activity android:name=".Activities.Calculs" />
        <activity
            android:name=".Activities.FC_FR"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fc__fr" />
        <activity
            android:name=".Activities.Composition"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_composition" />

        <!--
    <service
        android:name="com.csr.btsmart.BtSmartService"
        android:enabled="true"
        android:exported="false" >
    </service>
        -->

        <activity
            android:name=".Activities.ConditionsActivity"
            android:label="@string/title_activity_conditions"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    <activity
        android:name="com.csr.heartratedemo.MainActivityHeartRate"
        android:label="@string/app_name" >

    </activity>
    <activity
        android:name="com.csr.heartratedemo.HeartRateActivity"
        android:label="@string/title_activity_heart_rate"
        android:parentActivityName="com.csr.heartratedemo.MainActivityHeartRate" >
    </activity>

    <service
        android:name="com.csr.btsmart.BtSmartService"
        android:enabled="true"
        android:exported="false" >
    </service>

    <activity
        android:name="com.csr.heartratedemo.DeviceInfoActivity"
        android:parentActivityName="com.csr.heartratedemo.HeartRateActivity"
        android:label="@string/title_activity_device_info" >
    </activity>
</application>

</manifest>
